{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <script src="{{ 'javascripts/stats-charts.js' | url }}"></script>
{% endblock %}

{% block container %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    {% block content %}
    {{ page.content }}
    {% endblock %}
  </article>
</div>
{% endblock %}
