{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
  body {
    font-size: 1rem;
   }
</style>
{% endblock %}

{% block extrahead %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
  <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.18.2"></script>

  <script>
    function plotDownloads(package, width=600) {
var vegaPlot = {
    "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
    "config": {
    "title": {
        "fontSize": 18,
        "font": "Arial",
        "anchor": "center", 
        "color": "#000000",
        "fontWeight": "normal"
    },
    "axis": {
        "titleFontSize": 16,
        "titleFont": "Arial",
        "titleFontWeight": 400,
        "labelFontSize": 12,
        "labelFont": "Arial",
        "labelFontWeight": 400,
        "grid": false
    },
    },
    "title": "Downloads of " + package,  
    "data": {
    "format": { "type":"dsv", "delimiter":"\t"},
    "url": `https://databio.org/stats/stats/`+package+`.tsv`
    },
    "mark": "bar",
    "width": width,
    "scaleFactor": 0.2,  // doesn't work; TODO: figure out how to make this work
    "encoding": {
    "x": {"field": "month", "timeUnit": "yearmonth", "type": "ordinal", "title": "Date", "axis": {"labelAngle":-90,}},
    "y": {"field": "downloads", "type": "quantitative", "title": "Downloads"}
    }
}
return vegaPlot;
}
</script>

{% endblock %}

{% block container %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    {% block content %}
    {{ page.content }}
    {% endblock %}
  </article>
</div>
{% endblock %}